<!DOCTYPE html>
<html>
  
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Navigate</title>
    <link type="text/css" rel="stylesheet" href="../Content/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../Content/Site.css">
    <script type="text/javascript" src="../Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
  </head>
  
  <body>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>可用天数</th>
            <th>已用天数</th>
            <th>过期日期</th>
            <th>已透支天数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>上年法定年假</td>
            <td>12.0</td>
            <td>5.0</td>
            <td class="warning">2015/12/31</td>
            <td class="danger">0.0</td>
          </tr>
          <tr>
            <td>本年法定年假</td>
            <td>12.0</td>
            <td>5.0</td>
            <td>2015/12/31</td>
            <td class="danger">0.0</td>
          </tr>
          <tr>
            <td>本年公司年假</td>
            <td>12.0</td>
            <td>5.0</td>
            <td>2015/12/31</td>
            <td class="danger">0.0</td>
          </tr>
          <tr>
            <td>本年带薪病假</td>
            <td>12.0</td>
            <td>5.0</td>
            <td>2015/12/31</td>
            <td class="danger">0.0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>